* {
    top: 0%;
    left: 0%;
    margin: 0%;
    padding: 0%;
}

a {
    color: #333;
}

a:hover {
    color: #007cb7;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    margin: 0 auto;
}

.bank-logo {
    background-color: transparent;
    margin-bottom: .5rem;
    padding: 1rem 2rem;
    text-align: center;
    color: #000;
    letter-spacing: 1px;
}

input[type='text']:focus,
input[type='text']:active,
input[type='email'],
input[type='password'],
textarea:focus,
textarea:active {
    outline: 0ch !important;
    -webkit-appearance: none !important;
}

.container .form-group input {
    letter-spacing: 1px;
    color: #333;
    outline: 0ch !important;
    border-radius: 0;
}

.container .form-group input:invalid {
    border: 1px solid red;
}

button {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff !important;
    user-select: none;
}

li {
    list-style-type: none;
    padding: 3px 0;
    margin: 0 0 5px;
}

li label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: .9rem;
    line-height: 2rem;
    font-weight: 600;
}